<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <img src="/static/waving-hand.png" />
    <h1>Hello PROFESSOR, Ladies and Gentle Men</h1>
    <img src="/static/Devop-workflow.jpg"
        alt="DevOps pipeline with tools like Git, Jenkins, Docker, and Kubernetes across CI/CD stages." />


    <h1>This test page is for Devop final project and it works in every Machine</h1>


</body>

</html>